#searchBar{
  border-radius: 50px;
  height: 75px;
  width: 550px;
  font-size: xx-large;
  text-align: center;
  outline: 0px solid black;
}
#searchBar:focus{
  outline: 1px solid black;
}
#searchButton{
  height: 75px;
  margin: 10px;
}
#searchButton:hover{
  cursor: pointer;
  filter: invert();
}
#searchForm{
  display: flex;
  align-items: center;
  margin-left: 100px;
}
#logo{
  width: 500px;
  margin-bottom: -50px;
  margin-top: -300px;
}
.patentListing{
  border: 1px solid lightgreen;
  padding: 10px;
}
#patentListings{
  background-color: #383838;
  margin-top: 100px;
}