body{
  background-color: #222222;
  color: beige;
  height: 100vh;
  margin: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#root {
  height: 100vh;
  position: relative;
}