body{
  background-color: #222222;
  color: beige;
  height: 100vh;
  margin: 0;
}
#root {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}