body{
  background-color: #222222;
  color: beige;
  height: 100vh;
  margin: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  max-width: 100vw;
  
}
#root {
  /* overflow: hidden;*/
  height: 100vh;
  position: relative;
}
a{
  color: aqua;
  text-decoration: none;
}